@import 'module/cabecalho.css';
@import 'module/introducao.css';
@import 'module/nosso-diferenciais.css';
@import 'module/contato.css';
@import 'module/rodape.css';
@import 'module/nossotime.css';
@import 'module/designer.css';
@import 'module/nossamissao.css';
@import 'module/experiencia.css';


/*Css global*/
*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}
a{
    text-decoration: none;
    color: white;
}

:root {
    --cor-branco: white;
    --cor-preto: black;
    --cor-amarelo:#FFBF23;
    --cor-rosa: #FFD7EF;

    --fonte-roboto:"Roboto", sans-serif;
    --fonte-space-grotesk:"Space Grotesk", sans-serif;
  }