.designer {
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 40px 20px;
    gap: 40px;
    background-color: #fefcfa; /* Cor de fundo opcional */
}

.designer-conteudo{
    margin-top: -20rem;

}

.designer-conteudo h1 {
    font-size: 50px;
    color: #000;
    line-height: 1.2;
    width: 100%;	
    overflow: hidden;
}

.designer img {
    width: 70%;
    max-width: 800px; /* Limita pra telas muito grandes */
    height: 500px;
    position: absolute;
    margin-top: 25rem;
}
