/* ========== SEÇÃO "NOSSA MISSÃO" ========== */

/* Estilo geral da seção */
.nossa-missao {
    background: var(--cor-amarelo); /* Cor de fundo amarela */
    font-family: "Roboto", sans-serif; /* Tipografia Roboto */
    margin-top: 3rem; /* Margem superior */
    padding: 8rem 0; /* Espaçamento interno (superior e inferior) */
}

/* Container interno com largura limitada e layout em grid */
.nossa-missao div {
    width: 75%; /* Largura do container */
    margin: 0 auto; /* Centralizando o container */
    display: grid; /* Usando grid para layout */
    grid-template-columns: 1fr 1fr; /* Dois itens lado a lado */
    gap: 5rem; /* Espaçamento entre os itens */
    align-items: center; /* Alinhamento vertical no centro */
}


/* Parágrafo dentro da missão */
.nossa-missao p {
    font-size: 1rem; /* Tamanho da fonte do parágrafo */
    line-height: 1.6; /* Ajustando o espaçamento entre as linhas */
    margin: 0; /* Removendo margens extras */
}

/* ========== RESPONSIVIDADE ========== */

/* Responsividade para telas com largura até 700px */
@media (max-width: 700px) {
    /* Ajustando o padding da seção para telas pequenas */
    .nossa-missao {
        padding: 3rem 0; /* Menos espaçamento nas laterais */
    }

    /* Ajustando o layout do container */
    .nossa-missao div {
        grid-template-columns: 1fr; /* Empilhando os itens */
        gap: 2rem; /* Reduzindo o espaçamento entre os itens */
        width: 90%; /* O container ocupa 90% da tela */
    }

    /* Ajustando o tamanho do título para telas pequenas */
    
}
